body{
	background: #b31d23;
	font-family: 'Poppins', sans-serif;
}

img{
  width: 100%;
}

p{
	font-size: 1.45rem;
	font-weight: bold;
}

.pie{
	padding-top: 15px;
	color: white;
	text-align: center;
}

.col-9{
	padding-bottom: 20px;
}

